<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name>EsseFunziona</display-name>
  <welcome-file-list>
    <welcome-file>startMenu.html</welcome-file>
    <welcome-file>startMenu.htm</welcome-file>
    <welcome-file>startMenu.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  
  <servlet>
    <servlet-name>SignUpStudenteServlet</servlet-name>
    <servlet-class>controller.SignUpStudente</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignUpStudenteServlet</servlet-name>
    <url-pattern>/signupStudente</url-pattern>
  </servlet-mapping>  
  
  <servlet>
    <servlet-name>takeStudentiServlet</servlet-name>
    <servlet-class>controller.takeStudenti</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>takeStudentiServlet</servlet-name>
    <url-pattern>/studenti</url-pattern>
  </servlet-mapping>  
  
  <servlet>
    <servlet-name>addTaxServlet</servlet-name>
    <servlet-class>controller.addTax</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addTaxServlet</servlet-name>
    <url-pattern>/aggiuntaTasse</url-pattern>
   </servlet-mapping>   
   
  <servlet>
    <servlet-name>addBandiServlet</servlet-name>
    <servlet-class>controller.addBandi</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addBandiServlet</servlet-name>
    <url-pattern>/aggiuntaBandi</url-pattern>
   </servlet-mapping>  
   
  <servlet>
    <servlet-name>SignUpProfessoreServlet</servlet-name>
    <servlet-class>controller.SignUpProfessore</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignUpProfessoreServlet</servlet-name>
    <url-pattern>/signupProfessore</url-pattern>
  </servlet-mapping>  
  
  
</web-app>