<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name>EsseFunziona</display-name>
  <welcome-file-list>
    <welcome-file>startMenu.html</welcome-file>
    <welcome-file>startMenu.htm</welcome-file>
    <welcome-file>startMenu.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  
  <servlet>
    <servlet-name>SignUpStudenteServlet</servlet-name>
    <servlet-class>controller.SignUpStudente</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignUpStudenteServlet</servlet-name>
    <url-pattern>/signupStudente</url-pattern>
  </servlet-mapping>  
 
  <servlet>
    <servlet-name>addAppelloServlet</servlet-name>
    <servlet-class>controller.addAppello</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addAppelloServlet</servlet-name>
    <url-pattern>/aggiuntaAppelli</url-pattern>
  </servlet-mapping>  
  
  <servlet>
    <servlet-name>takeStudentiServlet</servlet-name>
    <servlet-class>controller.takeStudenti</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>takeStudentiServlet</servlet-name>
    <url-pattern>/studenti</url-pattern>
  </servlet-mapping>  
  
  <servlet>
    <servlet-name>loginStudenteServlet</servlet-name>
    <servlet-class>controller.LoginStudente</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loginStudenteServlet</servlet-name>
    <url-pattern>/loginStudente</url-pattern>
  </servlet-mapping>  

  <servlet>
    <servlet-name>loginProfessoreServlet</servlet-name>
    <servlet-class>controller.LoginProfessore</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loginProfessoreServlet</servlet-name>
    <url-pattern>/loginProfessore</url-pattern>
  </servlet-mapping>  
  
  <servlet>
    <servlet-name>loginAdminServlet</servlet-name>
    <servlet-class>controller.LoginAdmin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loginAdminServlet</servlet-name>
    <url-pattern>/loginAdmin</url-pattern>
  </servlet-mapping>  
  
  <servlet>
    <servlet-name>takeProfessoriServlet</servlet-name>
    <servlet-class>controller.takeProfessori</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>takeProfessoriServlet</servlet-name>
    <url-pattern>/professori</url-pattern>
  </servlet-mapping>  
  
  <servlet>
    <servlet-name>takeCorsiServlet</servlet-name>
    <servlet-class>controller.takeCorsi</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>takeCorsiServlet</servlet-name>
    <url-pattern>/corsi</url-pattern>
  </servlet-mapping>  
  
  <servlet>
    <servlet-name>takeTasseServlet</servlet-name>
    <servlet-class>controller.takeTasse</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>takeTasseServlet</servlet-name>
    <url-pattern>/tasse</url-pattern>
  </servlet-mapping> 
  
  <servlet>
    <servlet-name>takeAppelliServlet</servlet-name>
    <servlet-class>controller.takeAppelli</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>takeAppelliServlet</servlet-name>
    <url-pattern>/appelli</url-pattern>
  </servlet-mapping>  
  
   <servlet>
    <servlet-name>takeBandiServlet</servlet-name>
    <servlet-class>controller.takeBandi</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>takeBandiServlet</servlet-name>
    <url-pattern>/bandi</url-pattern>
  </servlet-mapping>
  
   <servlet>
    <servlet-name>takeDocumentiServlet</servlet-name>
    <servlet-class>controller.takeDocumenti</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>takeDocumentiServlet</servlet-name>
    <url-pattern>/documentiCorsi</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>takeCdlServlet</servlet-name>
    <servlet-class>controller.takeCdl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>takeCdlServlet</servlet-name>
    <url-pattern>/cdl</url-pattern>
  </servlet-mapping>  
  
  <servlet>
    <servlet-name>addTaxServlet</servlet-name>
    <servlet-class>controller.addTax</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addTaxServlet</servlet-name>
    <url-pattern>/aggiuntaTasse</url-pattern>
   </servlet-mapping>   
   
  <servlet>
    <servlet-name>addBandiServlet</servlet-name>
    <servlet-class>controller.addBandi</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addBandiServlet</servlet-name>
    <url-pattern>/aggiuntaBandi</url-pattern>
   </servlet-mapping>  
   
   <servlet>
    <servlet-name>addMaterialeServlet</servlet-name>
    <servlet-class>controller.addMateriale</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addMaterialeServlet</servlet-name>
    <url-pattern>/aggiuntaMateriale</url-pattern>
   </servlet-mapping> 

  <servlet>
    <servlet-name>addCorsoServlet</servlet-name>
    <servlet-class>controller.addCorso</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addCorsoServlet</servlet-name>
    <url-pattern>/aggiuntaCorsi</url-pattern>
   </servlet-mapping>
   
   
  <servlet>
    <servlet-name>addCorsoDiLaureaServlet</servlet-name>
    <servlet-class>controller.addCorsoDiLaurea</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addCorsoDiLaureaServlet</servlet-name>
    <url-pattern>/aggiuntaCorsiDiLaurea</url-pattern>
   </servlet-mapping>
   
  <servlet>
    <servlet-name>SignUpProfessoreServlet</servlet-name>
    <servlet-class>controller.SignUpProfessore</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignUpProfessoreServlet</servlet-name>
    <url-pattern>/signupProfessore</url-pattern>
  </servlet-mapping>  
  
  
  <servlet>
    <servlet-name>showDataServlet</servlet-name>
    <servlet-class>controller.showData</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>showDataServlet</servlet-name>
    <url-pattern>/datiAnagrafici</url-pattern>
  </servlet-mapping>
  
  
</web-app>