<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name>EsseFunziona</display-name>
  <welcome-file-list>
    <welcome-file>startMenu.html</welcome-file>
    <welcome-file>startMenu.htm</welcome-file>
    <welcome-file>startMenu.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
   <servlet>
    <servlet-name>tasseStudenteAdminServlet</servlet-name>
    <servlet-class>controller.takeTasseStudenteAdmin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>tasseStudenteAdminServlet</servlet-name>
    <url-pattern>/tasseStudenteAdmin</url-pattern>
  </servlet-mapping>
 
  <servlet>
    <servlet-name>tasseStudenteServlet</servlet-name>
    <servlet-class>controller.takeTasseStudente</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>tasseStudenteServlet</servlet-name>
    <url-pattern>/tasseStudente</url-pattern>
  </servlet-mapping>
  
   <servlet>
    <servlet-name>mostraPianoServlet</servlet-name>
    <servlet-class>controller.mostraPiano</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>mostraPianoServlet</servlet-name>
    <url-pattern>/showPiano</url-pattern>
  </servlet-mapping>  
  
   <servlet>
    <servlet-name>EditCdlServlet</servlet-name>
    <servlet-class>controller.EditCdl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditCdlServlet</servlet-name>
    <url-pattern>/EditCdl</url-pattern>
  </servlet-mapping>  
  
  <servlet>
    <servlet-name>EditCorsiProfServlet</servlet-name>
    <servlet-class>controller.EditCorsiProf</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditCorsiProfServlet</servlet-name>
    <url-pattern>/EditCorsiProf</url-pattern>
  </servlet-mapping> 
    
  <servlet>
    <servlet-name>SignUpStudenteServlet</servlet-name>
    <servlet-class>controller.SignUpStudente</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignUpStudenteServlet</servlet-name>
    <url-pattern>/signupStudente</url-pattern>
  </servlet-mapping>  
  
  <servlet>
    <servlet-name>EditPdsServlet</servlet-name>
    <servlet-class>controller.EditPds</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditPdsServlet</servlet-name>
    <url-pattern>/EditPds</url-pattern>
  </servlet-mapping>  
 
  <servlet>
    <servlet-name>addAppelloServlet</servlet-name>
    <servlet-class>controller.addAppello</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addAppelloServlet</servlet-name>
    <url-pattern>/aggiuntaAppelli</url-pattern>
  </servlet-mapping>  
  
  <servlet>
    <servlet-name>takeStudentiServlet</servlet-name>
    <servlet-class>controller.takeStudenti</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>takeStudentiServlet</servlet-name>
    <url-pattern>/studenti</url-pattern>
  </servlet-mapping>  

  <servlet>
    <servlet-name>takeRichiestaServlet</servlet-name>
    <servlet-class>controller.takeRichieste</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>takeRichiestaServlet</servlet-name>
    <url-pattern>/studentiRichiesta</url-pattern>
  </servlet-mapping>  
  
  <servlet>
    <servlet-name>loginStudenteServlet</servlet-name>
    <servlet-class>controller.LoginStudente</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loginStudenteServlet</servlet-name>
    <url-pattern>/loginStudente</url-pattern>
  </servlet-mapping>  

  <servlet>
    <servlet-name>loginProfessoreServlet</servlet-name>
    <servlet-class>controller.LoginProfessore</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loginProfessoreServlet</servlet-name>
    <url-pattern>/loginProfessore</url-pattern>
  </servlet-mapping>  
  
  <servlet>
    <servlet-name>loginAdminServlet</servlet-name>
    <servlet-class>controller.LoginAdmin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loginAdminServlet</servlet-name>
    <url-pattern>/loginAdmin</url-pattern>
  </servlet-mapping>  
  
  <servlet>
    <servlet-name>takeProfessoriServlet</servlet-name>
    <servlet-class>controller.takeProfessori</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>takeProfessoriServlet</servlet-name>
    <url-pattern>/professori</url-pattern>
  </servlet-mapping>  
  
  <servlet>
    <servlet-name>takeCorsiServlet</servlet-name>
    <servlet-class>controller.takeCorsi</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>takeCorsiServlet</servlet-name>
    <url-pattern>/corsi</url-pattern>
  </servlet-mapping>  
  
  <servlet>
    <servlet-name>takeTasseServlet</servlet-name>
    <servlet-class>controller.takeTasse</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>takeTasseServlet</servlet-name>
    <url-pattern>/tasse</url-pattern>
  </servlet-mapping> 
  
  <servlet>
    <servlet-name>takeAppelliServlet</servlet-name>
    <servlet-class>controller.takeAppelli</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>takeAppelliServlet</servlet-name>
    <url-pattern>/appelli</url-pattern>
  </servlet-mapping>  
  
   <servlet>
    <servlet-name>takeBandiServlet</servlet-name>
    <servlet-class>controller.takeBandi</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>takeBandiServlet</servlet-name>
    <url-pattern>/bandi</url-pattern>
  </servlet-mapping>
  
   <servlet>
    <servlet-name>takeDocumentiServlet</servlet-name>
    <servlet-class>controller.takeDocumenti</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>takeDocumentiServlet</servlet-name>
    <url-pattern>/documentiCorsi</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>takeCdlServlet</servlet-name>
    <servlet-class>controller.takeCdl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>takeCdlServlet</servlet-name>
    <url-pattern>/cdl</url-pattern>
  </servlet-mapping>  
  
  <servlet>
    <servlet-name>addTaxServlet</servlet-name>
    <servlet-class>controller.addTax</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addTaxServlet</servlet-name>
    <url-pattern>/aggiuntaTasse</url-pattern>
   </servlet-mapping>   
   
  <servlet>
    <servlet-name>deleteTaxServlet</servlet-name>
    <servlet-class>controller.deleteTax</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteTaxServlet</servlet-name>
    <url-pattern>/eliminaTassa</url-pattern>
   </servlet-mapping>  
     <servlet>
    <servlet-name>deleteCdlServlet</servlet-name>
    <servlet-class>controller.deleteCdl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteCdlServlet</servlet-name>
    <url-pattern>/eliminaCdl</url-pattern>
   </servlet-mapping>  
   
  <servlet>
    <servlet-name>deleteCorsoServlet</servlet-name>
    <servlet-class>controller.deleteCorso</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteCorsoServlet</servlet-name>
    <url-pattern>/eliminaCorso</url-pattern>
   </servlet-mapping> 
   
     <servlet>
    <servlet-name>deleteAppelloServlet</servlet-name>
    <servlet-class>controller.deleteAppello</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteAppelloServlet</servlet-name>
    <url-pattern>/eliminaAppello</url-pattern>
   </servlet-mapping> 

     <servlet>
    <servlet-name>deleteProfServlet</servlet-name>
    <servlet-class>controller.deleteProf</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteProfServlet</servlet-name>
    <url-pattern>/eliminaProf</url-pattern>
   </servlet-mapping> 


  <servlet>
    <servlet-name>logoutServlet</servlet-name>
    <servlet-class>controller.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>logoutServlet</servlet-name>
    <url-pattern>/logout</url-pattern>
   </servlet-mapping> 

  <servlet>
    <servlet-name>addBandiServlet</servlet-name>
    <servlet-class>controller.addBandi</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addBandiServlet</servlet-name>
    <url-pattern>/aggiuntaBandi</url-pattern>
   </servlet-mapping>  
   
   <servlet>
    <servlet-name>addMaterialeServlet</servlet-name>
    <servlet-class>controller.addMateriale</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addMaterialeServlet</servlet-name>
    <url-pattern>/aggiuntaMateriale</url-pattern>
   </servlet-mapping> 

  <servlet>
    <servlet-name>addCorsoServlet</servlet-name>
    <servlet-class>controller.addCorso</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addCorsoServlet</servlet-name>
    <url-pattern>/aggiuntaCorsi</url-pattern>
   </servlet-mapping>
   
   
  <servlet>
    <servlet-name>addCorsoDiLaureaServlet</servlet-name>
    <servlet-class>controller.addCorsoDiLaurea</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addCorsoDiLaureaServlet</servlet-name>
    <url-pattern>/aggiuntaCorsiDiLaurea</url-pattern>
   </servlet-mapping>
   
  <servlet>
    <servlet-name>SignUpProfessoreServlet</servlet-name>
    <servlet-class>controller.SignUpProfessore</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignUpProfessoreServlet</servlet-name>
    <url-pattern>/signupProfessore</url-pattern>
  </servlet-mapping>  
  
  
  <servlet>
    <servlet-name>showDataServlet</servlet-name>
    <servlet-class>controller.showData</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>showDataServlet</servlet-name>
    <url-pattern>/datiAnagrafici</url-pattern>
  </servlet-mapping>
  

  <servlet>
    <servlet-name>requestRicevimentoServlet</servlet-name>
    <servlet-class>controller.requestRicevimento</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>requestRicevimentoServlet</servlet-name>
    <url-pattern>/richiesteRicevimento</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
    <servlet-name>askRicevimentoServlet</servlet-name>
    <servlet-class>controller.askRicevimento</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>askRicevimentoServlet</servlet-name>
    <url-pattern>/chiedereRicevimento</url-pattern>
  </servlet-mapping>
    
  
  <servlet>
    <servlet-name>addEsitoServlet</servlet-name>
    <servlet-class>controller.addEsito</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addEsitoServlet</servlet-name>
    <url-pattern>/aggiuntaEsiti</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>addPrenotazioneServlet</servlet-name>
    <servlet-class>controller.addPrenotazione</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addPrenotazioneServlet</servlet-name>
    <url-pattern>/aggiuntaPrenotazione</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>deleteStudenteServlet</servlet-name>
    <servlet-class>controller.deleteStudente</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteStudenteServlet</servlet-name>
    <url-pattern>/eliminaStudente</url-pattern>
   </servlet-mapping> 
 
  <servlet>
    <servlet-name>accettaEsameServlet</servlet-name>
    <servlet-class>controller.accettaEsame</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>accettaEsameServlet</servlet-name>
    <url-pattern>/accettaEsame</url-pattern>
   </servlet-mapping>  
   
  <servlet>
    <servlet-name>takeEsitiServlet</servlet-name>
    <servlet-class>controller.takeEsito</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>takeEsitiServlet</servlet-name>
    <url-pattern>/esiti</url-pattern>
  </servlet-mapping>
  
  
    <servlet>
    <servlet-name>takeEsameServlet</servlet-name>
    <servlet-class>controller.takeEsame</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>takeEsameServlet</servlet-name>
    <url-pattern>/esami</url-pattern>
  </servlet-mapping>
   
   <servlet>
    <servlet-name>rifiutaEsameServlet</servlet-name>
    <servlet-class>controller.accettaEsame</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>rifiutaEsameServlet</servlet-name>
    <url-pattern>/rifiutaEsame</url-pattern>
   </servlet-mapping>  
   
   
  <servlet>
    <servlet-name>deletePrenotazioneServlet</servlet-name>
    <servlet-class>controller.deletePrenotazione</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deletePrenotazioneServlet</servlet-name>
    <url-pattern>/eliminaPrenotazione</url-pattern>
   </servlet-mapping>     
   
  <servlet>
    <servlet-name>takeVotoServlet</servlet-name>
    <servlet-class>controller.takeVoto</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>takeVotoServlet</servlet-name>
    <url-pattern>/trovaVoto</url-pattern>
   </servlet-mapping>      
   
  <servlet>
    <servlet-name>takeVotiLibrettoServlet</servlet-name>
    <servlet-class>controller.takeVotiLibretto</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>takeVotiLibrettoServlet</servlet-name>
    <url-pattern>/trovaVotiLibretto</url-pattern>
   </servlet-mapping>      
 
  <servlet>
    <servlet-name>takeRicevimentoServlet</servlet-name>
    <servlet-class>controller.takeRicevimento</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>takeRicevimentoServlet</servlet-name>
    <url-pattern>/trovaRicevimento</url-pattern>
   </servlet-mapping>      
  
</web-app>